---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import Python from "./icons/Python.astro";
import Flask from "./icons/Flask.astro";
import Javascript from "./icons/Javascript.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#f0db4f] text-black",
    icon: Javascript,
  },
  FLASK: {
    name: "Flask",
    class: "bg-gray-800 text-white",
    icon: Flask,
  },
  PYTHON: {
    name: "Python",
    class: "bg-blue-500 text-white",
    icon: Python,
  },
};

const PROJECTS = [
  {
    title: "RestauManage",
    description:
      "Aplicación web de administración de restaurantes que facilita a los dueños la gestión de su negocio. Permite control sobre inventario, proveedores, empleados y reservas, con funcionalidad para que los clientes puedan realizar reservas en línea.",
    link: "https://restaumanage.vercel.app/",
    github: "https://github.com/dieramirezma/frontend-restaumanage",
    image: "/projects/restaumanage.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "unAgenda",
    description:
      "Página web orientada a la gestión y organización de estudiantes. Permite registrar horario de asignaturas, crear tarjetas memotécnicas, mantener un cuaderno de notas y agregar eventos o recordatorios al calendario.",
    github: "https://github.com/dieramirezma/unAgenda",
    link: "https://unagenda.onrender.com/",
    image: "/projects/unagenda.webp",
    tags: [TAGS.PYTHON, TAGS.FLASK],
  },
  {
    title: "Frogger - Video Juego Arcade",
    description:
      "Video juego arcade basado en el juego original Frogger 1981 por Konami. Consta de 4 niveles con dificultad progresiva. Desarrollado usando HTML5, CSS3 y JavaScript con la biblioteca p5.js.",
    github: "https://github.com/dieramirezma/frogger-visual-computing",
    link: "https://dieramirezma.github.io/frogger-visual-computing/",
    image: "/projects/frogger.webp",
    tags: [TAGS.JAVASCRIPT],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Recién llegado vs 5 años en Nueva Zelanda"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    {tag.icon && <tag.icon class="size-4" />}
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
